.button {
  font: inherit;
  border: 1px solid white;
  background: white;
  color: black;
  padding: 0.5rem 3rem;
  cursor: pointer;
  border-radius: 2rem;
}

.button:hover,
.button:active {
  background: #276ef1;
  border-color: #276ef1;
  color: white;
}

.button:focus {
  outline: none;
}
